button{
    width: 200px;
    height: 50px;
    background-color: lightgrey;
    font-size: 18px;
    border-radius: 15px;
    border: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: pink;
    box-shadow: 0 0 15px blue;
}