body{
    font-family: Arial, sans-serif;
    background-color:white;
    text-align:center;
}

table{
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

td{
    padding:10px;
}

input,
select,
textarea{
    width:220px;
    padding:8px;
}

textarea{
    resize:none;
    height:100px;
}

input[type="submit"],
input[type="reset"]{
    background-color:blue;
    color:white;
    border:none;
    cursor:pointer;
}

